<%% content_for :navegacao do %>
	<a href='/<%= plural_name %>'><%= plural_name.capitalize %></a> -> <a href='/<%= plural_name %>/<%%= @<%= singular_name %>.id %>'>Detalhando <%= singular_name %></a>
<%% end -%>

<fieldset class="fieldset">
	<legend>Dados do <%= singular_name %></legend>
	
<% for attribute in attributes -%>
<p>
  <b><%= attribute.column.human_name %>:</b>
  <%%=h @<%= singular_name %>.<%= attribute.name %> unless @<%= singular_name %>.<%= attribute.name %>.blank? %>
</p>

<% end -%>

</fieldset>

<%%= link_to 'Editar', edit_<%= singular_name %>_path(@<%= singular_name %>), :class => 'bt_edit' %> |
<%%= link_to 'Voltar', <%= plural_name %>_path, :class => 'bt_back' %>
