<%% content_for :navegacao do %>
	<a href='/<%= plural_name %>'>Listando <%= plural_name %></a> -> <a href='/<%= plural_name %>/new'>Novo(a) <%= singular_name %></a>
<%% end -%>

<%%= render :partial => 'form', :locals => { :nome_botao => "Criar"} %>

<%%= link_to 'Voltar', <%= plural_name %>_path, :class => 'bt_back' %>

