<%% content_for :navegacao do %>
	<a href='/<%= plural_name %>'><%= plural_name %></a> -> <a href='/<%= plural_name %>/<%%= @<%= singular_name %>.id %>/edit'>Editando <%= singular_name %></a>
<%% end -%>

<%%= render :partial => 'form', :locals => { :nome_botao => "Atualizar"} %>

<%%= link_to 'Detalhar', <%= singular_name %>_path(@<%= singular_name %>), :class => 'bt_detal' %> |
<%%= link_to 'Voltar', <%= plural_name %>_path, :class => 'bt_back' %>
